<div id="content">
    <div id="content-sub">
        <ul>
            <li class="first">
                <a href="mailto:support@random-features.net"><strong>Support</strong>For support related inquires and questions write to <div class="email">support@random-features.net</div></a>
            </li>
            <li>
                <a href="mailto:business@random-features.net"><strong>Business</strong>Business inquires and proposals, please contact:<div class="email">business@random-features.net</div></a>
            </li>
            <li>
                <a href="mailto:press@random-features.net"><strong>Press</strong>For press inquires, please contact: <div class="email">press@random-features.net</div></a>
            </li>
            <li>
                <a href="mailto:fans@random-features.net"><strong>Fans</strong>For fan related inquires and questions write to <div class="email">fans@random-features.net</div></a>
            </li>
        </ul>
    </div>
    <div id="content-main">
        <h1>Company</h1>
        <p style="min-height:0px;">
            <!--Random Features is an independent video game studio formed in 2011 by a game industry veteran, that is focusing exclusively on mobile platforms like Android and iPhone to provide rich game play experiences.  -->
            Random Features is an independent video game development studio based in Katy, TX. Created by veterans of the video game industry, we at Random Features are focused on developing fun and innovative video games exclusively on mobile platforms like Android
            phones and tablets.

        </p>
    </div>
</div>