<div id="content">
    <div id="games">
        <div id="content-right">
            <a href="dance_party.html"><img src="images/appicons/alien_icon.png" alt="Alien Dance Party" /></a>
            <h1 style="margin: 10px 0 30px 0;">Alien Dance Party<br /><span>for Android</span></h1>

            <a href="eightbit_mahjong.html"><img src="images/appicons/eightbit_icon.png" alt="8 Bit Mahjong" /></a>
            <h1 style="margin: 10px 0 30px 0;">8 Bit Mahjong<br /><span>for Android</span></h1>
        </div>

        <div id="content-left">
            <a href="halloween_dance.html"><img src="images/appicons/halloween_icon.png" alt="Halloween Dance Party" /></a>
            <h1 style="margin: 10px 0 30px 0;">Halloween Dance Party<br /><span>for Android</span></h1>

            <a href="xmas_mahjong.html"><img src="images/appicons/xmas_icon.png" alt="Christmas Mahjong" /></a>
            <h1 style="margin: 10px 0 30px 0;">Christmas Mahjong<br /><span>for Android</span></h1>

            <a href="hacker_wars.html"><img src="images/appicons/hackerwars_icon.png" alt="Hacker Wars" /></a>
            <h1 style="margin: 10px 0 30px 0;">Hacker Wars<br /><span>for Android</span></h1>

        </div>
    </div>
</div>