<div id="content">
    <div id="content-sub">
        <ul>
            <li class="first">
                <a href="https://market.android.com/search?q=randomfeaturesinc&c=apps&price=0"><strong>Google Play</strong><img  width="260" src="images/google_play_logo_450.png" alt="" /></a>
            </li>

            <li class="contact">
                <strong>Google+</strong>
                <!-- Place this tag where you want the +1 button to render -->
                <div class="g-plusone" data-annotation="inline" data-width="296"></div>

                <!-- Place this render call where appropriate -->
                <script type="text/javascript">
                    (function() {
                        var po = document.createElement('script');
                        po.type = 'text/javascript';
                        po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(po, s);
                    })();
                </script>
            </li>

            <li class="contact">
                <strong>Facebook</strong>
                <iframe src="http://www.facebook.com/plugins/likebox.php?id=204008766357931&header=true&stream=false&show_faces=true&width=280" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:280px;height:290px"></iframe>
            </li>
        </ul>
    </div>

    <div id="content-main">
        <div *ngFor="let story of news">
            <h1>{{story.title}}<br />
                <span>{{story.date}}</span></h1>
            <a href="{{story.localurl}}"><img class="alignright" src="{{story.image}}" alt="" /></a>
            <p>
                {{story.text}}
                <br /><a href="{{story.localurl}}" title="more">more...</a>
                <br /> <br />
                <a href="{{story.remoteurl}}"><img src="images/android_app_on_play_large.png" alt="" /></a>
            </p>
        </div>


    </div>

</div>