<div id="content">
    <div id="games">
        <div id="content-right">
            <a href="dreamscape.html"><img src="images/appicons/christmas_icon.png" alt="Christmas Dreamscape" /></a>
            <h1 style="margin: 10px 0 30px 0;">Christmas Dreamscape<br /><span>for Android</span></h1>
        </div>

        <div id="content-left">
            <a href="screamscape.html"><img src="images/appicons/screamscape_icon.png" alt="Halloween Screamscape" /></a>
            <h1 style="margin: 10px 0 30px 0;">Halloween Screamscape<br /><span>for Android</span></h1>
        </div>
    </div>
</div>